<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'base.html' %}
    <title>Inicio</title>
</head>
<body>
    {% block content %}
    <main>
        <section class="pt-5">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1633464130613-0a9154299ac2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="Imagen 1">
                        <div class="carousel-caption d-block text-center" style="position: absolute; top: 10px; left: 10px; right: 10px; background-color: rgba(0, 0, 0, 0.7); color: white;">
                            <h1 class="display-5 fw-bold">Bienvenido a Rogers</h1>
                            <p class="pt-3 fs-5">Tienda Física: Lunes a Sábado 08:00 a 18:00 PM.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1633464130613-0a9154299ac2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="Imagen 2">
                        <div class="carousel-caption d-block text-center" style="position: absolute; top: 10px; left: 10px; right: 10px; background-color: rgba(0, 0, 0, 0.7); color: white;">
                            <h1 class="display-5 fw-bold">Bienvenido a Rogers</h1>
                            <p class="pt-3 fs-5">Tienda Física: Lunes a Sábado 08:00 a 18:00 PM.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1633464130613-0a9154299ac2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="Imagen 3">
                        <div class="carousel-caption d-block text-center" style="position: absolute; top: 10px; left: 10px; right: 10px; background-color: rgba(0, 0, 0, 0.7); color: white;">
                            <h1 class="display-5 fw-bold">Bienvenido a Rogers</h1>
                            <p class="pt-3 fs-5">Tienda Física: Lunes a Sábado 08:00 a 18:00 PM.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <h1 class="text-center pb-3">¿Qué Ofrecemos?</h1>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1633464130613-0a9154299ac2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="card-img-top img-fluid"
                                alt="Zapatillas" style="height: 300px; object-fit: cover;">
                            <div class="card-body" style="text-align: center">
                                <h5 class="card-title">Zapatillas</h5>
                                <p class="card-text">
                                    Explora nuestra colección de zapatillas para encontrar el equilibrio perfecto entre comodidad y estilo en cada paso.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1605908502724-9093a79a1b39?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="card-img-top img-fluid"
                                alt="Chaquetas" style="height: 300px; object-fit: cover;">
                            <div class="card-body" style="text-align: center">
                                <h5 class="card-title">Chaquetas</h5>
                                <p class="card-text">
                                    Explora nuestras chaquetas para encontrar el estilo y la protección perfectos en cada ocasión.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1589178698744-b0c65639636e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="card-img-top img-fluid"
                                alt="Buzos" style="height: 300px; object-fit: cover;">
                            <div class="card-body" style="text-align: center">
                                <h5 class="card-title">Buzos</h5>
                                <p class="card-text">
                                    Encuentra nuestros buzos deportivos diseñados para brindarte comodidad y estilo durante tus entrenamientos y actividades físicas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-5 bg-light">
            <div class="container">
                <h1 class="text-center pb-3">Nuestros Productos</h1>
                <div class="row justify-content-center">
                    {% for producto in productos %}
                    <div class="col-md-4">
                        <div class="card mb-3 shadow-sm p-3 rounded">
                            {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid" alt="{{ producto.nombre }}" style="height: 300px; object-fit: cover; width: 100%;">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-primary">Producto: {{ producto.nombre }}</h5>
                                <p class="card-text"><strong>Valor:</strong> ${{ producto.precio }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <section class="pb-5 sobre">
            <div class="container">
                <h1 class="py-3 text-center">Sobre Nosotros</h1>
                <div class="row">
                    <div class="col-7">
                        <div class="mb-3 pt-5 px-5">
                            <label class="form-label">Nombre</label>
                            <input
                                    type="name"
                                    class="form-control"
                                    placeholder="Ingrese Nombre"
                            />
                        </div>
                        <div class="mb-3 px-5">
                            <label class="form-label">Telefono</label>
                            <input
                                    type="number"
                                    class="form-control"
                                    placeholder="000-000-000"
                            />
                        </div>
                        <div class="mb-3 px-5">
                            <label class="form-label">Mensaje</label>
                            <textarea rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mb-3 pt-5 px-5">
                            <p>
                                Direccion -
                                <span class="text-secondary">Independencia 456</span>
                            </p>
                        </div>
                        <div class="mb-3 px-5">
                            <p>Ciudad - <span class="text-secondary">Santiago</span></p>
                        </div>
                        <div class="mb-3 px-5">
                            <p>
                                Telefono - <span class="text-secondary">999-999-999</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       <!-- Api en html -->
    </main>

    <footer style="text-align: center; background: #111; color: #fff">
        <div class="footer-content">
            <br />
            <h3>Rogers</h3>
            <p>
                Tu tienda de ropa favorita, donde encuentras las últimas tendencias y la mejor calidad.
            </p>
        </div>
        <div class="footer-bottom" style="color: #804000">
            <p>© 2024 Rogers. Todos los derechos reservados.</p>
        </div>
        <br />
    </footer>

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
    ></script>
    {% endblock %}
</body>
</html>
