{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Productos Rogers</h1>
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid" alt="{{ producto.nombre }}" style="height: 300px; object-fit: cover; width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <p class="card-text">Precio: ${{ producto.precio }}</p>
                        <p class="card-text">Stock Disponible: {{ producto.stock }}</p>
                        {% if request.user.is_authenticated and request.user.username != 'admin' %}
                            <form action="{% url 'agregar_al_carrito' producto.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-shopping-cart"></i> Agregar al Carrito
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
