{% extends 'base.html' %}

{% block content %}
<h1>Productos</h1>

<ul>
    {% for producto in productos %}

        <li>
            <a href="{% url 'detalleProd' producto.id %}">
                <h3>Nombre del producto: {{producto.nombre}}</h3> 
                <p>Descripción del producto: {{producto.descripcion}}</p>
                <p>Categoria: {{producto.categoria}}</p>
                <p>Stock: {{producto.stock}}</p>
                <p>Precio: {{producto.precio}}</p>

                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" width=80>
                {% endif %}
            </a>
        </li>

    {% endfor %}
</ul>
{% endblock %}